body{ 
    background-color:
               #a7e8bf;}

    .estilo_h1{
        color: #c5a5d8;}
    .estilo_h1_v2{
        color: #a199c2; }


    .mi_imagen{
        border-radius: 12px;
         box-shadow: 0 6px 6px rgba(0,0,0,0.6);
         width: 200px;
         height: 300px;
    }
    